<!DOCTYPE html>
<html>
<head>
  <title>Geopolitical</title>
  <%= stylesheet_link_tag    "geopolitical/application", media: "all" %>
  <%= javascript_include_tag "geopolitical/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
