.block
  %h3.title Estados
  .right.links
    = link_to "+ Estado", new_region_path, :class => "small blue nice button radius" if admin?
  .content
    .inner
      %ul
        - @regions.each do |region|
          %li= render region
          %hr
      .pagination

.block
  %h3.title Cidades
  .right.links
    = link_to "+ Cidade", new_city_path, :class => "small blue nice button radius" if admin?
  .content
    .inner
      %ul
        - @cities.each do |city|
          %li= render city
          %hr
      .pagination
